In [1]:
#Dependencies
import numpy as np
import pandas as pd

#Files
labs = pd.read_csv('Datasets/labs.csv')
examination = pd.read_csv('Datasets/examination.csv')
demographic = pd.read_csv('Datasets/demographic.csv')
diet = pd.read_csv('Datasets/diet.csv')
questionnaire = pd.read_csv('Datasets/questionnaire.csv')
#medications = pd.read_csv('Datasets/medications.csv')

In [13]:
#Merge all datasets
nahnes_merged_dataset = pd.concat([labs,examination,demographic,diet,questionnaire], on="", axis=1)

nahnes_merged_dataset.head()

,SEQN,URXUMA,URXUMS,URXUCR.x,URXCRS,URDACT,WTSAF2YR.x,LBXAPB,LBDAPBSI,LBXSAL,...,WHD080U,WHD080L,WHD110,WHD120,WHD130,WHD140,WHQ150,WHQ030M,WHQ500,WHQ520
0,73557,4.3,4.3,39.0,3447.6,11.03,NaN,NaN,NaN,4.1,...,NaN,40.0,270.0,200.0,69.0,270.0,62.0,NaN,NaN,NaN
1,73558,153.0,153.0,50.0,4420.0,306.00,NaN,NaN,NaN,4.7,...,NaN,NaN,240.0,250.0,72.0,250.0,25.0,NaN,NaN,NaN
2,73559,11.9,11.9,113.0,9989.2,10.53,142196.890197,57.0,0.57,3.7,...,NaN,NaN,180.0,190.0,70.0,228.0,35.0,NaN,NaN,NaN
3,73560,16.0,16.0,76.0,6718.4,21.05,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,3.0,3.0
4,73561,255.0,255.0,147.0,12994.8,173.47,142266.006548,92.0,0.92,4.3,...,NaN,NaN,150.0,135.0,67.0,170.0,60.0,NaN,NaN,NaN

In [11]:
#Locate necessary columns for modeling
nahnes_dataset = nahnes_merged_dataset.loc[:,['SEQN', 'RIAGENDR', 'RIDAGEYR','DR1TCAFF', 'DR1TALCO', 'BMXWT', 'BMXHT', 
                                              'BPXPULS','BPXSY1', 'LBDHDD', 'ALQ130', 'SMQ040']]

nahnes_dataset.head()

,SEQN,SEQN,SEQN,SEQN,SEQN,RIAGENDR,RIDAGEYR,DR1TCAFF,DR1TALCO,BMXWT,BMXHT,BPXPULS,BPXSY1,LBDHDD,ALQ130,SMQ040
0,73557,73557,73557,73557,73557,1,69,203.0,0.0,78.3,171.3,1.0,122.0,65.0,1.0,3.0
1,73558,73558,73558,73558,73558,1,54,240.0,119.0,89.5,176.8,1.0,156.0,50.0,4.0,2.0
2,73559,73559,73559,73559,73559,1,72,45.0,0.0,88.9,175.3,1.0,140.0,60.0,NaN,3.0
3,73560,73560,73560,73560,73560,1,9,0.0,0.0,32.2,137.3,1.0,108.0,61.0,NaN,NaN
4,73561,73561,73561,73561,73561,2,73,24.0,0.0,52.0,162.4,1.0,136.0,85.0,NaN,NaN