In [1]:
#Dependencies
from sklearn import tree
import pandas as pd
import os

In [2]:
#Import CSV
df = pd.read_csv('Datasets/cleaned_data.csv')
df.head()

,ID,Gender,Age,Caffeine (mg),Alcohol (gm),Weight (kg),Standing Height (cm),Pulse regular or irregular?,Systolic: Blood pressure mm Hg,Direct HDL-Cholesterol (mg/dL),Avg Drinks per Day,Smoker?
0,73557,1,69,203.0,0.0,78.3,171.3,1.0,122.0,65.0,1.0,3.0
1,73558,1,54,240.0,119.0,89.5,176.8,1.0,156.0,50.0,4.0,2.0
2,73562,1,56,144.0,0.0,105.0,158.7,1.0,160.0,38.0,1.0,3.0
3,73566,2,56,266.0,22.3,61.8,152.8,1.0,128.0,59.0,1.0,1.0
4,73567,1,65,43.0,39.1,65.3,172.4,1.0,140.0,79.0,3.0,1.0

In [3]:
#Target df
target = df['Pulse regular or irregular?']
target_names = ['regular', 'irregular']

In [5]:
#Variable df
data = df.drop(['Pulse regular or irregular?', 'ID'], axis=1)
feature_names = data.columns
data.head()

,Gender,Age,Caffeine (mg),Alcohol (gm),Weight (kg),Standing Height (cm),Systolic: Blood pressure mm Hg,Direct HDL-Cholesterol (mg/dL),Avg Drinks per Day,Smoker?
0,1,69,203.0,0.0,78.3,171.3,122.0,65.0,1.0,3.0
1,1,54,240.0,119.0,89.5,176.8,156.0,50.0,4.0,2.0
2,1,56,144.0,0.0,105.0,158.7,160.0,38.0,1.0,3.0
3,2,56,266.0,22.3,61.8,152.8,128.0,59.0,1.0,1.0
4,1,65,43.0,39.1,65.3,172.4,140.0,79.0,3.0,1.0

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=27)

In [15]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9662921348314607

In [16]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9803370786516854

In [9]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.16967355220577182, 'Standing Height (cm)'),
 (0.1547061637440938, 'Weight (kg)'),
 (0.1344925050372837, 'Age'),
 (0.13211497574757392, 'Direct HDL-Cholesterol (mg/dL)'),
 (0.13028767517989298, 'Caffeine (mg)'),
 (0.10474692998099777, 'Systolic: Blood pressure mm Hg'),
 (0.07675031522321744, 'Alcohol (gm)'),
 (0.055096215374335344, 'Avg Drinks per Day'),
 (0.024151436102223804, 'Smoker?'),
 (0.017980231404609352, 'Gender')]