In [1]:
#Dependencies
from sklearn import tree
import pandas as pd
import os

In [2]:
#Import CSV
df = pd.read_csv('Datasets/cleaned_data.csv')
df.head()

,ID,Gender,Age,Caffeine (mg),Alcohol (gm),Weight (kg),Standing Height (cm),Pulse regular or irregular?,Systolic: Blood pressure mm Hg,Direct HDL-Cholesterol (mg/dL),Avg Drinks per Day,Smoker?
0,73557,1,69,203,0.0,78.3,171.3,1,122,65,1,3
1,73558,1,54,240,119.0,89.5,176.8,1,156,50,4,2
2,73562,1,56,144,0.0,105.0,158.7,1,160,38,1,3
3,73566,2,56,266,22.3,61.8,152.8,1,128,59,1,1
4,73567,1,65,43,39.1,65.3,172.4,1,140,79,3,1

In [3]:
#Target df
target = df['Pulse regular or irregular?']
target_names = ['regular', 'irregular']

In [4]:
#Variable df
data = df.drop(['Pulse regular or irregular?', 'ID'], axis=1)
feature_names = data.columns
data.head()

,Gender,Age,Caffeine (mg),Alcohol (gm),Weight (kg),Standing Height (cm),Systolic: Blood pressure mm Hg,Direct HDL-Cholesterol (mg/dL),Avg Drinks per Day,Smoker?
0,1,69,203,0.0,78.3,171.3,122,65,1,3
1,1,54,240,119.0,89.5,176.8,156,50,4,2
2,1,56,144,0.0,105.0,158.7,160,38,1,3
3,2,56,266,22.3,61.8,152.8,128,59,1,1
4,1,65,43,39.1,65.3,172.4,140,79,3,1

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=74)

In [6]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.949438202247191

In [7]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9662921348314607

In [8]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.18404916623820639, 'Weight (kg)'),
 (0.17133725298647565, 'Standing Height (cm)'),
 (0.13973547283261886, 'Age'),
 (0.127800218057775, 'Caffeine (mg)'),
 (0.11893844013292061, 'Direct HDL-Cholesterol (mg/dL)'),
 (0.11268179490625106, 'Systolic: Blood pressure mm Hg'),
 (0.056255069145367605, 'Avg Drinks per Day'),
 (0.05497911164790952, 'Alcohol (gm)'),
 (0.021133853275208243, 'Smoker?'),
 (0.01308962077726722, 'Gender')]

In [13]:
predictions = rf.predict(X_test)
pr = pd.DataFrame({"Prediction": predictions, "Actual": y_test})